---
import App from "../App.jsx";
import "../styles/main.css";
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="keywords"
			content="dj, carlos, hermida, música, web, para fiestas, eventos, discoteca, radio, desarrollo, programación, bandas"
		/>
		<title>| DJ Carlos Hermida |</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	</head>
	<body>
		<App client:load />
	</body>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>

<style>
	html,
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		width: 100%;
		height: 100%;
		background-color: whitesmoke;
	}
</style>
